
:root {
  --primary: #2baf43;
  --secondary: #7bca8a;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5em, auto);
  grid-gap: 0.5em;
}

.page > div {
  background: #eee;
  text-align: center;
  padding: 1em;
}
.page > div:nth-child(odd) {
  background: #ddd
}

.btn {
  height: 23px;
  line-height: 22px;
  outline: 0 !important;
  padding: 0 12px;
  border-radius: 2px;
  border: none;
  color: #fff !important;
  background-color: var(--primary);
  background-image: linear-gradient(to left top,rgba(142, 205, 147, 0) 0, var(--secondary) 100%);
}